canvas {
    border: 1px solid black;
    background-color: #f0f0f0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
}

.boton-siguiente-nivel {
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
background-color: #28a745;
color: white;
border: none;
border-radius: 5px;
transition: background-color 0.3s;
}

.boton-siguiente-nivel:hover {
background-color: #218838;
}

.boton-reinicio {
    display : block;
    margin :20px auto;
    padding : 15px 30px;
    font-Size : 20px;
    cursor: pointer;
    background-color: #af1212;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-reinicio:hover {
    background-color: #f70505;
}

.endText {
    font-Size : 38px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gifDiv {
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-Align : center;
}