html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

body {
    background-image: url('Imagenes/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

canvas {
    background-color: #f0f0f0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
    border: 10px solid #226b88;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.menu-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    width: 40%;
    border: 10px solid #226b88;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    background-color: #88a8df;
}

.titulo-inicio {
    font-family: "Press Start 2p";
    font-size: 50px;
    color: #073446;
    margin: 0;
    text-align:center;
    margin-top: 20px;
}

.texto-inicio {
    font-family: "Press Start 2p";
    font-size: 13px;
    color: white;
    margin: 20px 0;
    text-align: center;
}

.boton-inicio {
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    font-weight: bold;
    padding: 10px 20px; 
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: rgb(136, 134, 134);
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: 'Press Start 2p';
    font-size: 16px;
}

.boton-inicio:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.boton-siguiente-nivel {
    text-align: center;
    display:flex;
    margin: 20px auto;
    font-weight: bold;
    padding: 15px 20px; 
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: rgb(136, 134, 134);
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: 'Press Start 2p';
    font-size: 18px;
}

.boton-siguiente-nivel:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.boton-reinicio {
    text-align: center;
    display:block;
    margin: 20px auto;
    font-weight: bold;
    padding: 15px 20px; 
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: rgb(136, 134, 134);
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: 'Press Start 2p';
    font-size: 18px;
}

.boton-reinicio:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.endText {
    font-Size : 40px;
    font-family:'Press Start 2p';
    margin-left: 300px;
    margin-right: 300px;
    color: #073446;
}

.gifDiv {
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    text-Align : center;
}